__pycache__/
*.pyc
/Include
/Lib
/Scripts
/.vscode
/.venv

pyvenv.cfg

token.json
subscribed_emails.json
subscribed_emails__saved.json
token_gmail_v1.pickle
client_secret.json

file.txt
logs.txt
file_message.txt
file_set_price.txt
binance_logs.txt
/logs
cache_prices.txt